VITE_SUPABASE_URL=https://ucpudjjahbctzluseipo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjcHVkamphaGJjdHpsdXNlaXBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTU1ODcsImV4cCI6MjA4OTg3MTU4N30.k9NvMHWwbv2TLpUZuq-J6ck1MCdjnfYE1DgrgDuY3ng
VITE_DEFAULT_BRANCH=Erqaa-01
VITE_READY_TIMEOUT_MINUTES=5
VITE_SCAN_COOLDOWN_MS=2000
